// ============ NAV ============== //


#dashboard_body{
  background: url("pictures/backdashboard.jpg");
}

.dashboard_nav{
  background-color: #6bbfc3;
  width: 204px;
  margin-left: 200px;
  padding-bottom: 1000px;
  list-style-type: none;
}

.dashboard_nav li a{
  color: white;
  font-size: 16px;
  font-family: arial, sans-serif;
  text-decoration: none;
  line-height: 60px;
  display: block;
  padding-left: 35px;
}

.dashboard_nav li{
  width: 115%;
}

.dashboard_nav h2{
  color: white;
  padding-left: 35px;
  padding-top: 50px;
  font-family: theboldfont, sans-serif;
  margin-bottom: 160px;
  font-size: 12px;
}

.italic-user{
  font-style: italic;
}
.dashboard_nav .fa{
  margin-left: 10px;
  color: #fff;
  transform: rotate(180deg);
}

body{
  overflow: hidden;
}

.blue-clicked{
  background-color: #519194;
}

// ====================== CONTENT ======================= //



#dashboard-content, #dashboard-navigation{
  display: inline-block;
}
#dashboard-content h1{
  font-size: 48px;
  color: white;
}

#dashboard-content{
  margin-left: 50px;
  vertical-align: top;
  margin-top: 20px;
}
#dashboard-content{
  max-width: 55%;
}
#dashboard-navigation{
  max-width: 45%;
}

#dashboard-content h1{
  font-family: theboldfont, sans-serif;
  font-size: 48px;
  margin-left: 150px;
  margin-bottom: 70px;
}



// ======================= create event =================== //

#createEvent{
  max-width: 650px;
  margin-left: 50px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

#createEvent label{
  margin-right: 50px;
  text-align: right;
  width: 206px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  color: white;

}

.form_line{
  margin-bottom: 5px;
}

.form_line input, .form_line textarea{
  resize: none;
  width: 250px;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
}
.form_line textarea{
  height: 150px;
}

.form_line, .input_form{
  display: inline-block;
}

.send_event{
  background-color: #6bbfc3;
  line-height: 40px;
  width: 120px;
  color: white;
  font-family: theboldfont, sans-serif;
  font-size: 17px;
  margin: 30px 0 0 72%;
  cursor: pointer;
  border: none;
}
.send_event:hover{
  background-color: #5ca1a4;
  cursor: pointer;
}
.send_event:active{
  background-color: #487d80;
}
.form_line p{
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: white;
}
#help{
  background-color: #6bbfc3;
  width: 25px;
  line-height: 25px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 250px;
}

#screen_youtube{
  border: solid 5px #6bbfc3;
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 25%;
  box-shadow: 2px 2px 2px 2px #1d3233;
  transition: all 1s ease-in;
}

#youtube_helper{
  width: 15px;
  height: 15px;
  margin-left: 45%;
}

#youtube_helper:hover #screen_youtube{
  transition: all 1s ease-in;
  visibility: visible;
  display: block;
}


#event_list .fa{
  color: black;
}
#event_list, .element_list{
  margin-left: 100px;
}
#event_list li{
  line-height: 42px;
}

.element_list{
  background-color: #6bbfc3;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 3px solid white;
  font-family: arial, sans-serif;
}
.element_list li, .element_list ul{
  display: inline-block;
  vertical-align: middle;
}

.bold_list{
  display: inline-block;
  margin-left: 150px;
  font-family: theboldfont, sans-serif;
  color: white;
}
.bold_list:first-of-type{
  margin-left: 0;
}

.name_list{
   width: 190px;
}
.date_list{
  width: 350px;
}

.edit_list a{
  color: white;
}

// ================================== USER LIST ================================

.users_list li{
  display: inline-block;
  font-family: arial, sans-serif;
  width: 150px;
  color: white;
}

.users_list li:last-of-type{
  margin-left: 50px;
  width: 50px;
}
.user_form p{
  font-size: 10px;
  color: white;
}
.users_list a{
  color: white;
}

.users_list{
  margin-left: 150px;
  background-color: #6bbfc3;
  line-height: 42px;
  padding-left: 15px;
  border-bottom: 3px solid white;
}

.info_users_list li{
  display: inline-block;
  font-family: arial, sans-serif;
  width: 150px;
  color: white;
}

.info_users_list{
  margin-left: 165px;
  margin-bottom: 25px;
}



.create_user_title{
  margin-top: 50px;
  font-size: 18px !important;
}


.user_form{
  font-family: arial, sans-serif;
  margin-left: 150px;
  color: white;
}

.user_form li label{
  width: 300px;
  display: block;
}

.user_form li{
  margin-bottom: 15px;
}

.user_form li label, .user_form li input{
  display: inline-block;
  border: none;
}
.user_form .send_event{
  margin-left: 38%;
}
.text{
  padding: 5px;
  line-height: 5px;
}
// ================================ SETTINGS ===================== //


.title_settings_h2{
  font-family: arial, sans-serif;
}
#form_settings{
  margin-left: 150px;
  color: white;
}

#form_settings .fa{
  color: white;
}
#form_settings .text{
  padding: 5px;
  line-height: 5px;
  border: none;
}
#form_settings span{
  font-size: 10px;
}

#form_settings h2{
  margin-bottom: 15px;
}
.form_change_settings{
  line-height: 30px;
  color: white;
  height: 80px;
}
.form_change_settings label, .form_change_settings label
{
  display: block;
  font-family: arial, sans-serif;
  font-size: 10px;
}

#form_settings .send_event{
  width: 120px;
  margin: 0 0 0 50px;
}
.send_settings:hover{
  background-color: #0079c8;
  transition: all 0.5s ease-in;
}

//==================== legend ====================== //

#legend{
  width: 600px;
  margin-top: 150px;
  margin-left: 150px;
  font-family: arial, sans-serif;
  font-size: 11px;

}

.legend_element{
  display: inline-block;
  margin-left: 50px;
  color: white;
}

.green_legend{
  margin-left: 38%;
  margin-bottom: 15px;
  border-radius: 30px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #46b77a;
  border: 5px white solid;
}
.orange_legend{
  margin-left: 38%;
  margin-bottom: 15px;
  border-radius: 30px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #f7ad84;
  border: 5px white solid;
}
.grey_legend{
  margin-left: 38%;
  margin-bottom: 15px;
  border-radius: 30px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #b4b4b4;
  border: 5px white solid;
}

.color_orange{
  background-color: #f7ad84;
  width: 16px;
  display: block;
  height: 45px;
  vertical-align: middle;
  border-right: solid 3px white;
}
.color_green{
  background-color: #46b77a;
  width: 16px;
  display: block;
  height: 45px;
  vertical-align: middle;
  border-right: solid 3px white;
}
.color_grey{
  background-color: #b4b4b4;
  width: 16px;
  display: block;
  height: 45px;
  vertical-align: middle;
  border-right: solid 3px white;
}

// ============================= LOGIN ========================== //

#login{
  margin: 0 auto;
  width: 100%;
  background: url("pictures/backlogin.jpg") 0% 100% no-repeat;
  background-size: cover;
}

.wrapper{
  width: 100%;
  text-align: center;
  padding-top: 150px;
}
.error{
  font-size: 10px;
  color: red;
}
.wrapper form{
  margin-top: 70px;
  width: 404px;
  margin-left: 35%;
  background-color: #6bbfc3;
  padding: 60px 40px;
  margin-bottom: 400px;
  border-radius: 15px;
  border: 2px solid white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper label{
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}

.wrapper label, .wrapper input{
  display: block;
  margin-left: 12%;
  margin-bottom: 10px;
}
#submit_button{
  width: 110px;
  margin-left: 58%;
  background-color: #f88a95;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#submit_button:hover{
  background-color: #e67e89;
  cursor: pointer;
  cursor: hand;
}
 #submit_button:active{
   background-color: #d0747d;
   cursor: pointer;
   cursor: hand;
 }

.wrapper input{
  line-height: 30px;
  width: 290px;
  border: none;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
}

.remember{
  display: inline-block !important;
  max-width: 110px !important;
  margin-left: 0px !important;
}

#login h1{
  color: white;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 31px;
  font-weight: lighter;
  width: 250px;
  margin-left: 42%;
}

.boldiful{
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 25px;
}