// ============ NAV ============== //

.dashboard_nav{
  background-color: #004c7e;
  width: 204px;
  margin-left: 200px;
  padding-bottom: 1000px;
  list-style-type: none;
}

.dashboard_nav li a{
  color: white;
  font-size: 16px;
  font-family: arial, sans-serif;
  text-decoration: none;
  line-height: 60px;
  display: block;
  padding-left: 35px;
}

.dashboard_nav li{
  width: 115%;
}

.dashboard_nav h2{
  color: white;
  padding-left: 35px;
  padding-top: 50px;
  font-family: theboldfont, sans-serif;
  margin-bottom: 160px;
  font-size: 12px;
}

.italic-user{
  font-style: italic;
}
.fa{
  margin-left: 10px;
  color: #fff;
  transform: rotate(180deg);
}

body{
  overflow: hidden;
}

.blue-clicked{
  background-color: #5ad2ff;
}

// ====================== CONTENT ======================= //



#dashboard-content, #dashboard-navigation{
  display: inline-block;
}
#dashboard-content h1{
  font-size: 48px;
}

#dashboard-content{
  margin-left: 50px;
  vertical-align: top;
  margin-top: 100px;
}
#dashboard-content{
  max-width: 55%;
}
#dashboard-navigation{
  max-width: 45%;
}

#dashboard-content h1{
  font-family: theboldfont, sans-serif;
  font-size: 48px;
  margin-left: 150px;
  margin-bottom: 70px;
}



// ======================= create event =================== //

#createEvent{
  max-width: 650px;
  margin-left: 50px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

#createEvent label{
  margin-right: 150px;
  text-align: right;
  width: 191px;
  display: inline-block;
  vertical-align: top;

}

.form_line{
  margin-bottom: 30px;
}

.form_line input, .form_line textarea{
  resize: none;
  width: 250px;
}

.form_line textarea{
  height: 150px;
}

.form_line, .input_form{
  display: inline-block;
}

.form_line .send_event{
  background-color: #004c7e;
  border: solid 1px black;
  line-height: 40px;
  width: 120px;
  border-radius: 10px;
  color: white;
  font-family: theboldfont, sans-serif;
  font-size: 17px;
  margin: 30px 0 0 480px;
  transition: all 0.5s ease-in;
}

.form_line p{
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

.send_event:hover{
  background-color: #0079c8;
  transition: all 0.5s ease-in;
}