@font-face {
  font-family: 'theboldfont';
  src: url('fonts/theboldfont.eot');
  src: url('fonts/theboldfont.eot') format('embedded-opentype'),
  url('fonts/theboldfont.woff2') format('woff2'),
  url('fonts/theboldfont.woff') format('woff'),
  url('fonts/theboldfont.ttf') format('truetype'),
  url('fonts/theboldfont.svg#theboldfont') format('svg');
}

@font-face {
  font-family: 'DidotLTStdBold';
  src: url('fonts/DidotLTStdBold.eot');
  src: url('fonts/DidotLTStdBold.eot') format('embedded-opentype'),
  url('fonts/DidotLTStdBold.woff2') format('woff2'),
  url('fonts/DidotLTStdBold.woff') format('woff'),
  url('fonts/DidotLTStdBold.ttf') format('truetype'),
  url('fonts/DidotLTStdBold.svg#DidotLTStdBold') format('svg');
}

@font-face {
  font-family: 'AMPLITUDEBOOK';
  src: url('fonts/AMPLITUDEBOOK.eot');
  src: url('fonts/AMPLITUDEBOOK.eot') format('embedded-opentype'),
  url('fonts/AMPLITUDEBOOK.woff2') format('woff2'),
  url('fonts/AMPLITUDEBOOK.woff') format('woff'),
  url('fonts/AMPLITUDEBOOK.ttf') format('truetype'),
  url('fonts/AMPLITUDEBOOK.svg#AMPLITUDEBOOK') format('svg');
}
